<div id="viewer-content">
    <table class="table">
        <!-- head -->
        <thead>
            <tr>
                <th>ID</th>
                <th>JOB</th>
                <th>Title</th>
                <th>Content</th>
                <th>Update-Date</th>
            </tr>
        </thead>
        <tbody>
            {{#log_rows}}
            <tr>
                <th>{{id}}</th>
                <td>{{job}}</td>
                <td>{{title}}</td>
                <td>{{content}}</td>
                <td>{{updated_at}}</td>
            </tr>
            {{/log_rows}}
        </tbody>
    </table>
</div>