<div id="viewer-content">
    <button id="viewer-content-button" class="btn btn-active btn-primary"
            hx-delete="/template/viewer"
            hx-target="#app-ctx"
            hx-trigger="clear-viewer"
            hx-swap="innerHTML">
        Clear
    </button>
    {{#updating}}
    <button class="btn btn-active btn-error">
        Stop-Update
    </button>
    {{/updating}}

    {{^updating}}
    <button class="btn btn-active btn-infp">
        Start-Update
    </button>
    {{/updating}}

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>JOB</th>
                <th>Title</th>
                <th>Content</th>
                <th>Update-Date</th>
            </tr>
        </thead>
        <tbody>
            {{#log_rows}}
            <tr>
                <th>{{id}}</th>
                <td>{{job}}</td>
                <td>{{title}}</td>
                <td>{{content}}</td>
                <td>{{updated_at}}</td>
            </tr>
            {{/log_rows}}
        </tbody>
    </table>
</div>