<div class="drawer lg:drawer-open h-[calc(100vh-100px)] border border-base-300 rounded-xl overflow-hidden">
    <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col h-full overflow-y-auto">
        <div class="w-full flex justify-start p-4 lg:hidden">
            <label for="my-drawer-3" class="btn btn-square btn-ghost drawer-button">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </label>
        </div>
        <div class="flex-grow flex flex-col items-center justify-center p-6 text-center">
            <p class="text-lg font-medium break-all">
                Content sssssssssssssssssssssssssssssssssssssssssssss
            </p>
        </div>
    </div>
    <div class="drawer-side h-full z-10">
        <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"></label>
        <ul class="menu bg-base-200 min-h-full w-80 p-4 overflow-y-auto">
            <button class="my-2 btn btn-primary">Add</button>
            <button class="my-2 btn btn-error">Remove</button>
            {{#fs_rows}}
            <li><a>{{name}}</a></li>
            {{/fs_rows}}
        </ul>
    </div>
</div>