<!DOCTYPE html>
<html data-theme="dark">

<head>
    <title>{{ title }}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/index.css">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"
        integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="js/index.js"></script>
</head>

<body>
    <div id="app-nav" class="max-lg:collapse bg-base-200 lg:mb-4 shadow-sm w-full rounded-md">
        <div class="collapse-title navbar">
            <div class="navbar-start">
                <button class="btn btn-ghost text-xl"
                        hx-get="/template/homepage"
                        hx-target="#app-ctx"
                        hx-swap="innerHTML">
                    Verteilen 2 Client
                </button>
            </div>
            <div class="navbar-center hidden lg:flex">
                <ul class="menu menu-horizontal px-1">
                    <li>
                        <button hx-get="/template/viewer"
                                hx-target="#app-ctx"
                                hx-swap="innerHTML">
                            Viewer
                        </button>
                    </li>
                    <li>
                        <button hx-get="/template/filesystem"
                                hx-target="#app-ctx"
                                hx-swap="innerHTML">
                            File System
                        </button>
                    </li>
                    <li>
                        <button hx-get="/template/terminal"
                                hx-target="#app-ctx"
                                hx-swap="innerHTML">
                            Terminal
                        </button>
                    </li>
                    <li>
                        <details id="config-dropdown">
                            <summary>Configuration</summary>
                            <ul class="p-2 bg-base-100 w-40 z-1">
                                <li><button hx-get="/template/setting"
                                        hx-target="#app-ctx"
                                        hx-swap="innerHTML"
                                        hx-on:click="close_configuration()">
                                    Setting
                                </button></li>
                                <li><button hx-get="/template/log"
                                        hx-target="#app-ctx"
                                        hx-swap="innerHTML"
                                        hx-on:click="close_configuration()">
                                    Log
                                </button></li>
                            </ul>
                        </details>
                    </li>
                </ul>
            </div>
            <div class="navbar-end">
                <input type="text" placeholder="Search" class="input input-bordered w-64 lg:w-auto" />
            </div>
        </div>
    </div>

    <div id="app-ctx" hx-get="/template/homepage" 
        hx-trigger="load" 
        hx-swap="innerHTML">
    </div>
</body>

</html>