<div id="log-content" class="mx-[5%]">
    <button id="log-content-button" class="btn btn-active btn-primary"
            hx-get="/template/log-clear"
            hx-target="#app-ctx"
            hx-swap="innerHTML">
        Clear
    </button>
    {{#updating}}
    <button class="btn btn-active btn-error"
            hx-get="/template/log-stop-update"
            hx-target="#app-ctx"
            hx-swap="innerHTML">
        Stop-Update
    </button>
    {{/updating}}

    {{^updating}}
    <button class="btn btn-active btn-infp"
            hx-get="/template/log-start-update"
            hx-target="#app-ctx"
            hx-swap="innerHTML">
        Start-Update
    </button>
    {{/updating}}

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>JOB</th>
                <th>Title</th>
                <th>Content</th>
                <th>Created-Date</th>
            </tr>
        </thead>
        <tbody>
            {{#log_rows}}
            <tr>
                <th>{{id}}</th>
                <td>{{job}}</td>
                <td>{{title}}</td>
                <td>{{content}}</td>
                <td>{{created_at}}</td>
            </tr>
            {{/log_rows}}
        </tbody>
    </table>
</div>